.wrapper_app {
  width: 100%;
  background-color: #f5f5f5;
}
.App {
  margin: auto;
  width: 900px;
}
.form_create {
  display: inline-flex;
}
.input {
  width: 50px;
  height: 25px;
}
.create_rent {
  background-color: #e8eaee;
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
}
.div_input {
  margin-right: 40px;
}
.input {
  width: 200px;
  height: 35x;
}
.select {
  height: 31px;
}
.button {
  width: 120px;
  height: 40px;
  border-radius: 4px;
  color: #ffffff;
  margin-top: 14px;
}
.green {
  background-color: #22ba99;
}
.red {
  background-color: #f4313d;
  margin-left: 20px;
}
.blue {
  background-color: #3650c8;
}
.input {
  border-radius: 4px;
}
.available {
  padding-bottom: 15px;
}
.your_rent,
.available {
  width: 100%;
}
.rented_bike,
.available_bike {
  display: flex;
  justify-content: space-between;
  padding: 0 25px 0 25px;
  background-color: #ffffff;
  margin-top: 14px;
}

.rented_bike p,
.available_bike p {
  font-size: 20px;
}
